<div id='beerImg'>
  <img class="indexBeer" src='{{this.imgSrc}}' alt='' />
  <button class='key'><a href='/beers'>Check the beers</a></button>
  <button class='key'><a href='/random-beer'>Check a random beer</a></button>
</div>

{{> footerPartial}}